<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="warn" strict="true">
	<Properties>
		<Property name="log-path">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
		</Console>

		<RollingFile name="rpc" fileName="${log-path}/rpc.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/rpc-%d{yyyy-MM-dd_HH}.%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="rpc-err" fileName="${log-path}/rpc-err.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/rpc-err-%d{yyyy-MM-dd_HH}.%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="rpc" />
		</Root>
		<Logger name="tw.me.ychuang.rpc" level="debug" additivity="false">
			<AppenderRef ref="rpc" level="info" />
			<AppenderRef ref="rpc-err" level="warn" />
			<AppenderRef ref="console" level="info" />
		</Logger>		
	</Loggers>
</Configuration>