<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="warn" strict="true">
	<Properties>
		<Property name="log-path">E:/workspace/mywebspace/logs/rfc</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
		</Console>
		<RollingFile name="3rd-party" fileName="${log-path}/3rd-party.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/3rd-party-%d{yyyy-MM-dd_HH}.%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"	modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="RFC" fileName="${log-path}/rfc.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/rfc-%d{yyyy-MM-dd_HH}.%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="RFC-ERR" fileName="${log-path}/rfc-err.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/rfc-err-%d{yyyy-MM-dd_HH}.%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%t %d %-5p [%C.%M:%L] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="3rd-party" />
		</Root>
		<Logger name="tw.me.ychuang.rfc" level="debug" additivity="false">
			<appender-ref ref="RFC" level="info" />
			<appender-ref ref="RFC-ERR" level="warn" />
			<appender-ref ref="Console" level="info" />
		</Logger>
		<Logger name="test.tw.me.ychuang.rfc" level="debug" additivity="false">
			<appender-ref ref="RFC" level="info" />
			<appender-ref ref="RFC-ERR" level="warn" />
			<appender-ref ref="Console" level="info" />
		</Logger>		
	</Loggers>
</Configuration>